body {
	font-family: 'Raleway', sans-serif;
	background-color:black;
	text-align: center;
	color:white;
}

ul {
	list-style-type: none;
	font-size: 40px;
}

#channeltags li {
	padding: 20px;
	display: inline;
}

a {
	text-decoration: none;
	color:white;
}

a:hover {
	text-decoration: underline;
	transition: 1s;
}

#channelTopics {
	margin:0;
	padding:0;
}
#channelTopics li { display:inline;}
