body {
	background-color:#a6fff6;
}

#titleHome {
	text-align: center;
	color: white;
}
#titleHome h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 80px;
	margin-bottom: 5px;
}
#titleHome h2 {
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
}

#picshow {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 400px;
}
#slideshowName {
	color:white;
	background-color:darkturquoise;
	padding: 5px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
	text-align: center;
	position:static;
	top:35%;
	
}

.circles {
	width: 20px;
	position:relative;
	top: 40%;
}
#circle1 {
	left: 39%;
}
#circle2 {
	left: 43%;
}
#circle3 {
	left: 47%;
}
#circle4 {
	left: 51%;
}
#channelTopics {
	font-family: 'Raleway', sans-serif;
	color:white;
	font-size: 40px;
	list-style-type: none;
	text-align: center;
	margin:0;
	padding:0;
}
#channelTopics li { display:inline;}

#channelTopics a {
	text-decoration: none;
	color:white;
}

#channelTopics a:hover {
	text-decoration: underline;
	transition: 1s;
}