body {
	background-color:darkblue;
	text-decoration-color: white;
}
p {
	font-family: 'Bungee Inline', cursive;
}
h1 {
	font-family: 'Dancing Script', cursive;
}
/*	font-family: 'Raleway', sans-serif; */