body {
	background-color:#a6fff6;
}

#titleHome {
	text-align: center;
	color: white;
}
#titleHome h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 80px;
	margin-bottom: 5px;
}
#titleHome h2 {
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
}

#picshow {
	width: 100%;
	height: 300px;
	
}
.arrow {
	position:absolute;
	width:20px;
	top:30%;
}
.circles {
	width: 20px;
	position:relative;
	top: 40%;
}
#circle1 {
	left: 30%;
}
#circle2 {
	left: 40%;
}
#circle3 {
	left: 50%;
}
#circle4 {
	left: 60%;
}
#channelTopics {
	font-family: 'Raleway', sans-serif;
	color:white;
	font-size: 40px;
	list-style-type: none;
	text-align: center;
	margin:0;
	padding:0;
}
#channelTopics li { display:inline;}

#channelTopics a {
	text-decoration: none;
	color:white;
}

#channelTopics a:hover {
	text-decoration: underline;
	transition: 1s;
}