body {
	color:white;
	background-color: black;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
}

#memeslideshow {
	display:inline-block;
}

#left {
	float:left;
}

#right {
	float: right;
}