body {
	color:white;
	background-color: black;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

#player {
	display:block;
	padding:10px;
	vertical-align: middle;
	width:60%;
}
#right {
	color:white;
	background-color: dimgray;
	padding:0px;
	margin:5px;
	width:100px;
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
}
#channelTopics {
	font-family: 'Raleway', sans-serif;
	color:white;
	font-size: 40px;
	list-style-type: none;
	text-align: center;
	margin:0;
	padding:0;
}
#channelTopics li { display:inline;}

#channelTopics a {
	text-decoration: none;
	color:white;
}

#channelTopics a:hover {
	text-decoration: underline;
	transition: 1s;
}