body {
	color:white;
	background-color: black;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

#player {
	display:block;
	padding:10px;
	vertical-align: middle;
	width:60%;
	float:left;
}
#playlist ul {
	display:inline-block;
	border: 1px solid grey;
	background-color: slategrey;
	height:300px;
	width:30%;
	overflow-y: scroll;
	text-align: center;
	list-style-type: none;
}
#playlist li {
	font-size: 30px;
	border-bottom: 3px solid black;
}
#left {
	color:white;
	background-color: dimgray;
	padding:0px;
	margin:5px;
	width:130px;
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	float:left;
}
#right {
	color:white;
	background-color: dimgray;
	padding:0px;
	margin:5px;
	width:100px;
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	float:right;
}
#channelTopics {
	font-family: 'Raleway', sans-serif;
	color:white;
	font-size: 40px;
	list-style-type: none;
	text-align: center;
	margin:0;
	padding:0;
	float:none;
}
#channelTopics li { display:inline;}

#channelTopics a {
	text-decoration: none;
	color:white;
}

#channelTopics a:hover {
	text-decoration: underline;
	transition: 1s;
}
