body {
	background-color:#a6fff6;
	text-align: center;
	color:white;
	font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
	font-size: 50px;
}
p {
	font-size: 40px;
}

.profpic {
	width: 100px;
	padding: 10px;
	opacity: 0.5;
}

#founderbio {
	background-color:white;
	text-align: left;
	color: black;
}
#founderpic {
	width:350px;
	float:right;
	padding: 10px;
}
#foundertext {
	font-size: 30px;
}


#channelTopics {
	font-family: 'Raleway', sans-serif;
	color:white;
	font-size: 40px;
	list-style-type: none;
	text-align: center;
	margin:0;
	padding:0;
}
#channelTopics li { display:inline;}

#channelTopics a {
	text-decoration: none;
	color:white;
}

#channelTopics a:hover {
	text-decoration: underline;
	transition: 1s;
}