body {
	background-color:#a6fff6;
}
#title {
    text-align:center;
}
h2 { text-align:center; }
#messageBox {
    text-align:left;
    margin: 0 auto;
    height: 200px ;
    padding: 0px;
    border: 2px solid black ;
    width: 80%;
    overflow-y:scroll;
}
h4 {
    text-align:left;
    margin: 0 auto;
    height: 30px;
    padding: 0px;
    border: 2px solid black;
    width: 80%;
}
#input { 
    text-align: right;
}
#button { float:right;
}
#login { float:right;
}
#article {text-align:center;}