body {
	font-family: 'Open Sans Condensed', sans-serif;
	background-color:#a6fff6;
}
h1 {
	font-size: 60px;
	text-align: center;
}
#article {
	background-color:white;
	padding: 10px;
}
#title {
    text-align:center;
}

#article p {
	font-size: 20px;
}
h2 { text-align:center; }
#messageBox {
    text-align:left;
	background-color:white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
    margin: 10px auto;
    height: 300px ;
    padding: 10px;
    border: 10px solid #008A6B ;
    width: 90%;
    overflow-y:scroll;
}
h4 {
    text-align:center;
    margin: 0 auto;
    height: 80px;
    padding-top: 10px;
	padding-left: 30px;
    border: 10px solid #008A6B;
    width: 90%;
}
input[type=text] { 
    align-self: center;
	font-family: 'Open Sans Condensed', sans-serif;
	color:black;
	font-size: 30px;
	box-sizing:padding-box;
	width: 300px;
	height: 40px;
	
}
#js {
	align-self: center;
	color:white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	background-color: darkblue;
	border: 0px;
	height:30px;
	width:100px
}