body {
	background:black;
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	margin: 0 auto;
}

#titleHome {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	color: white;
	padding: 0;
	line-height: 30px;
	font-size: 35px;
}

#channelTopics {
	font-family: 'Open Sans Condensed', sans-serif;
	color:white;
	font-size: 30px;
	list-style-type: none;
	text-align: center;
}
#channelTopics li { 
	display:inline;
	margin: 0 15px 0 15px;
	}

#channelTopics a {
	text-decoration: none;
	color:white;
}
.carousels {
	font-family:'Open Sans Condensed', sans-serif;
	color: white;
	max-width:900px;
	margin: inherit;
	height: 400px;
}


.carousels p {
	font-size:30px;
	height:100%;
	background: linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,0));
	background: -webkit-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,0));
	background: -moz-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,0));
}
#carousel {
	background-image: url("http://img.huffingtonpost.com/asset/scalefit_720_noupscale/58c82f8f1d000037037ce5f9.jpeg");
	background-size: cover;
}
#carousel a {
	text-decoration: none;
	color: inherit;
}
#sections {
	font-family: inherit;
	color: white;
	font-size:30px;
	margin: 0 auto;
	width: 900px;
	text-align: center;
}
#sections table {
	width: 900px;
}
#sections img {
	height: 200px;
	
}
#sections p {
	padding-bottom: 5px;
	border-bottom: 2px solid white;
}
#sections td {
	padding: 15px 0px 15px 0px;
	text-align: center;
	border-bottom: 2px solid white;
}
#sections a {
	text-decoration: none;
	color: inherit;
}


@media (max-device-width:500px) {
	#titleHome {
		font-size:60px;
	}
	#titleHome h2 {
		font-size: 50px;
	}
	#channelTopics {
		font-size: 50px;
	}
	#carousel {
		width: auto;
	}
}
