body {
	font-family: 'Open Sans Condensed', sans-serif;
	background-color:black;
	color:white;
	text-align: center;
}
nav {
	font-size: 25px;
	background: black;
	position: fixed;
	width: 100%;
	height: 60px;
	padding: 0;
	margin: 0;
	top: 0;
}
nav ul {
	text-align: center;
	padding: 0;
}
nav ul li{
	list-style-type: none;
	display: inline;
	margin: 0 30px 0 30px;
}
nav ul a{
	color: white;
	text-decoration: none;
}

nav ul a:hover {
	text-decoration-line: underline;
}

#genre {
	margin-top: 80px;
}

#article {
	width: 900px;
	margin: 0 auto;
	background: white;
	color: black;
	text-align: left;
}
#title {
	background: url("assets/article1a.png");
	background-size: contain;
	color: white;
	height: 272px;
	text-align: center;
}
#title p {
	font-size: 50px;
	background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0));
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0));
	background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0));
	width: 100%;
}
#title small {
	font-size: 25px;
}
#title img {
	height: 50px;
	border-radius: 500px;
	
}

#writing {
	padding: 10px;
	font-size: 20px;
}
#writing img {
	max-width: 600px;
}
#name {
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
}
#messages {
	height: 100px;
	width: 400px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}
#messageBox {
	margin: 0 auto;
	background: white;
	color: black;
	text-align: left;
	width: 900px;
	max-height: 500px;
	overflow: scroll;
	font-size: 20px;
	padding-left: 20px;
	padding-top: 10px;
}
#js {
	background-color: grey;
	border: none;
	height: 20px;
}